extends layout

block content
<<<<<<< HEAD
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= baslik
    .row
      .col-md-6.col-sm-12
        p= icerik
=======
  h1= message
  h2= error.status
  pre #{error.stack}
>>>>>>> parent of e9b2eed (Ödev dosyaları hazırlandı v1)
